<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Trang chủ - Sự kiện</title>
    <th:block th:replace="base :: css"></th:block>
</head>
<body>
<!--    <div th:replace="base :: header"></div>

    <section class="container">
        <div  class="mt-2">
            <a th:href="@{/admin/events}" class="btn btn-info">Thêm sự kiện</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tên sự kiện</th>
                    <th>Giá vé</th>
                    <th>Địa điểm</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Tổng vé</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="e: ${events}">
                    <td>
                        <img th:src="${e.imageUrl}" width="150" alt="Event image"/>
                    </td>
                    <td th:text="${e.title}"></td>
                    <td th:text="${e.price} + ' VNĐ'"></td>
                    <td th:text="${e.location}"></td>
                    <td th:text="${#dates.format(e.startTime, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${e.totalTickets}"></td>
                    <td>
                        <a th:href="@{/admin/events/} + ${e.id}" class="btn btn-info">Cập nhật</a>
                        <button class="btn btn-danger" th:onclick="'deleteEvent(\'' + @{/api/events/} + ${e.id} + '\')'">Xóa</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/script.js}"></script>-->
</body>
</html>